.staffSection {
	display: grid;
}

.staffSection > div {
	display: grid;
	justify-items: center;
	gap: 4em;
}

@media screen and (min-width: 500px) {
	.staffSection > div {
		grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
		gap: 8em;
	}
}