.staff-article {
	display: grid;
	grid-template-rows: auto auto 1fr;
	justify-items: center;
	width: 100%;
	text-align: center;
}

.staff-article:hover, .staff-article:focus {
	box-shadow: 0 0 11px rgba(33,33,33,.2);
	cursor: pointer;
}

.staff-article > div:has(img) {
	width: 100%;
	display: grid;
	place-items: center;
}

.staff-article img {
	width: 100%;
	max-width: 500px;
	aspect-ratio: 1/1;
	margin-bottom: .5em;
	object-fit: cover;
	place-self: center;
}

.staff-article > div:last-of-type {
	display: grid;
	justify-items: center;
	gap: .5em;
	padding: 1em;
}

.instaCTA a {
	font-size: var(--font-size-md);
	display: inline-block;
}

.role {
	font-size: var(--font-size-lg);
}

.modal-bio {
	padding: .5em 1em;
	text-align: left;
	display: grid;
	gap: .5em;
}

@media screen and (min-width: 550px) {
	.staff-article {
		place-items: center;
	}

	.staff-article > div:first-of-type {
		padding: 2em 2em 0;
	}

	.role {
		font-size: var(--font-size-sm);
	}

	.instaCTA a {
		font-size: var(--font-size-xs);
	}
}

@media screen and (min-width: 850px) {
	.staff-article dialog > div {
		gap: 0;
		padding: 4em;
		grid-template-columns: auto 1fr;
		padding: 2em;
	}

	.staff-article dialog > div > div:first-of-type, .staff-article dialog > div > div:last-of-type {
		place-content: center;
		padding: 2em;
		max-width: 750px;
	}

	.staff-article dialog > div > div:last-of-type p {
		font-size: var(--font-size-xs);
	}
}