.email-us {
	display: grid;
	gap: 1em;
	position: relative;
}

.form-wrapper {
	display: grid;
	gap: 2em;
	justify-items: flex-start;
	transition: filter 0.1s;
}

:global(body:has(#main-nav-checkbox:checked)) .email-us {
	z-index: -1;
}

.email-us:has(div[data-id="spinner"]) .form-wrapper {
	filter: blur(2px);
}

.form-wrapper > label {
	width: 100%;
	display: grid;
}

.form-wrapper textarea {
	height: 10em;
}

.form-wrapper input[type="submit"] {
	font-size: var(--font-size-md);
}