.events {
	gap: 2em;
}

.events > ul {
	list-style-type: none;
	padding: 0;
	display: grid;
	gap: 1em;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.events > a {
	margin: 1em 0 0 0;
}