.footer {
	display: grid;
	grid-template-columns: 1fr auto;
	justify-content: center;
	gap: 2em;
	color: white;
	background-color: var(--dk-purple);
	padding: 1em 2em;
}

.footer > p {
	grid-column: span 2;
	text-align: center;
}