.header {
	--headerHeight: 80px;
}

.nav-wrapper {
	display: grid;
	gap: 2em;
	grid-template-columns: auto auto;
	align-items: center;
	justify-content: flex-start;
}

:global(body:has(.openDelay)) .nav-wrapper {
	position: fixed;
	top: 0;
}

.spacer {
	height: 0;
}

:global(body:has(.openDelay)) .spacer {
	height: var(--headerHeight);
}

@media screen and (min-width: 500px) {
	.header {
		--headerHeight: 100px;
	}
}