.mcWrapper {
  display: grid;
  justify-items: stretch;
  position: relative;
  z-index: 200;
}

.mailchimp-newsletter-form {
	display: grid;
	grid-template-columns: 1fr auto;
	gap: 1em;
	justify-items: flex-start;
	transition: filter 0.1s;
}

.mcWrapper:has(div[data-id="spinner"]) .mailchimp-newsletter-form {
  filter: blur(2px);
}

.mailchimp-newsletter-form > p {
	font-size: var(--font-size-sm);
	grid-column: span 2;
}

.mailchimp-newsletter-form > label {
	display: grid;
	align-items: center;
	gap: .5em;
	width: 100%;
}

.mailchimp-newsletter-form input[type="email"] {
	width: 100%;
}