.news-section {
	display: grid;
	margin: 0 -2em -1em;
}

.news-section h2 {
	padding-left: 48px;
}

.news-section article {
	display: grid;
}

.news-section article > div {
	padding: 1em 2em;
	display: grid;
	gap: 1em;
}

.news-section article img {
	width: 100%;
	object-fit: cover;
	height: 500px;
}

@media (min-width: 768px) {
	.news-section {
		margin: 0 -6em -6em;
	}

	.news-section article {
		grid-template-columns: 50% 50%;
		height: 500px;
		overflow: hidden;
	}

	.news-section article h3 {
		font-size: var(--font-size-lg);
	}

	.news-section article > div {
		place-content: center;
	}

	.news-section article:nth-of-type(2n + 1) > img {
		order: 2;
	}

	.news-section article > div p {
		font-size: var(--font-size-xs);
	}
}

@media (min-width: 1200px) {
	.news-section {
		margin: 0 -6em -4em;
	}

	.news-section article > div {
		padding: 2em 6em;
	}
}