.social-media-links {
	display: flex;
	justify-self: flex-end;
	justify-content: center;
	align-items: center;
	gap: 0 .5em;
	flex-wrap: wrap;
	--social-media-icon-size: 40px;
	padding: 1em;
}

.social-media-links > header {
	flex-basis: 100%;
	text-align: center;
}

.social-media-links > header > p {
	font-size: var(--font-size-sm);
}

.social-media-links a {
	display: grid;
	width: 60px;
	height: 60px;
	place-content: center;
	padding: 1em;
	border-radius: 50%;
	transition: all .1s ease-in-out;
	z-index: 200;
}

.social-media-links a:hover, .social-media-links a:focus {
	background-color: var(--social-media-hover);
}

.social-media-links a img {
	width: var(--social-media-icon-size);
	aspect-ratio: 1 / 1;
	transition: all .2s ease-in-out;
}

.social-media-links a:hover img, .social-media-links a:focus img {
	transform: scale(1.1);
}

@media screen and (min-width: 500px) {
	.social-media-links {
		padding: 1em 2em;
	}
}

@media screen and (min-width: 768px) {
	.social-media-links a {
		width: 80px;
		height: 80px;
	}
}