.reach {
	background: var(--lime);
	margin: 0 -6em;
}

.reach {
	display: grid;
	margin: 0 -2em;
	padding: 2em 0;
}

.reach h2, .reach > p:first-of-type {
	padding-left: 16px;
}

@media (min-width: 768px) {
	.reach {
		margin: 0 -6em -6em;
	}

	.reach h2, .reach > p:first-of-type {
		padding-left: 48px;
	}
}