.reach {
	background: var(--lime);
	display: grid;
	margin: 0 -2em;
	padding: 2em 0;
	align-content: flex-start;
}

.reach h2, .reach > p:first-of-type {
	padding: 0 16px;
}

@media (min-width: 768px) {
	.reach {
		margin: 0 -6em -4em;
	}

	.reach h2, .reach > p:first-of-type {
		padding: 0 48px;
	}
}