/*
__________________
Imports and Variables
‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾
*/

@font-face {
	font-family: 'aperculight';
	src: url('assets/fonts/ApercuLight/apercu_light-webfont.woff2') format('woff2'),
		 url('assets/fonts/ApercuLight/apercu_light-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

:root {
	--black: #231f20;
	--white: #fff;

	--lime: #74bc1f;
	--dk-purple: #480e67;
	--lt-purple: #d8c4e5;
	--burgundy: #b2282f;
	--yellow: #ffb71b;
	--orange: #fc5000;

	--base-font-size: 8px;
	--font-size-sm: calc(var(--base-font-size) * 1.5);
	--font-size-md: calc(var(--base-font-size) * 2);
	--font-size-lg: calc(var(--base-font-size) * 2.5);
	--font-size-xl: calc(var(--base-font-size) * 3);
	--font-size-xxl: calc(var(--base-font-size) * 3.75);
	--font-size-xxxl: calc(var(--base-font-size) * 5);
}

/*
__________________
Default styles
‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾
*/

* {
	box-sizing: border-box;
	font-family: 'aperculight', sans-serif;
	margin: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	display: grid;
	grid-template-rows: auto 1fr auto;
	font-size: 8px;
	position: relative;
	min-height: 100vh;
	line-height: 1.5;
}

h1 {
	font-size: var(--font-size-xxxl);
}

h2 {
	font-size: var(--font-size-xxl);
	margin: 5px 0;
}

h3 {
	font-size: var(--font-size-xl);
}

h4 {
	font-size: var(--font-size-lg);
}

h5 {
	font-size: var(--font-size-md);
}

p, label, ul {
	font-size: var(--font-size-md);
}

img {
	max-width: 100%;
	height: auto;
}

main {
	padding: 2em;
	display: grid;
	gap: 1em;
}

a {
	display: block;
	color: inherit;
	font-size: initial;
}

main > a, section > a, section > nav > a {
	font-size: var(--font-size-lg);
}

button, input[type="submit"] {
	background-color: var(--yellow);
	border: none;
	padding: .5em 1em;
	border-radius: 5px;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, .5);
}

button:hover, input[type="submit"]:hover {
	cursor: pointer;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, .8);
}

input, textarea {
	padding: .5em;
}

.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important;
	-webkit-clip-path: inset(50%) !important;
	clip-path: inset(50%) !important;
	height: 1px !important;
	overflow: hidden !important;
	margin: -1px !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;
}

.grecaptcha-badge {
	opacity: 0;
	pointer-events: none;
	z-index: -1;
}


/*
__________________
Media queries
‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾
*/

@media screen and (min-width: 500px) {
	:root {
		--base-font-size: 12px;
	}
}

@media screen and (min-width: 768px) {
	:root {
		--base-font-size: 16px;
	}
}

@media screen and (min-width: 1040px) {
	:root {
		--base-font-size: 20px;
	}
}

@media screen and (min-width: 1440px) {
}