/*
__________________
Imports and Variables
‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾
*/

@font-face {
	font-family: 'aperculight';
	src: url('assets/fonts/ApercuLight/apercu_light-webfont.woff2') format('woff2'),
		 url('assets/fonts/ApercuLight/apercu_light-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

:root {
	--black: #231f20;
	--white: #fff;

	--lime: #74bc1f;
	--dk-purple: #480e67;
	--lt-purple: #d8c4e5;
	--burgundy: #b2282f;
	--yellow: #ffb71b;
	--orange: #fc5000;

	--social-media-icon-size: 40px;
}

/*
__________________
Default styles
‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾
*/

* {
	box-sizing: border-box;
	font-family: 'aperculight', sans-serif;
	margin: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	font-size: 8px;
	position: relative;
}

h1 {
	font-size: 6em;
}

h2 {
	font-size: 4em;
}

h3 {
	font-size: 3em;
}

h4 {
	font-size: 2em;
}

h5 {
	font-size: 1.6em;
}

p, label, ul {
	font-size: 1.6em;
}

img {
	max-width: 100%;
	height: auto;
}

main {
	padding: 2em;
}

a {
	display: block;
	color: inherit;
	font-size: initial;
}

.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important;
	-webkit-clip-path: inset(50%) !important;
	clip-path: inset(50%) !important;
	height: 1px !important;
	overflow: hidden !important;
	margin: -1px !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;
}

.grecaptcha-badge {
	opacity: 0;
	pointer-events: none;
	z-index: -1;
}

/*
__________________
Header
‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾
*/

#nav-wrapper {
	/* Apply textured edge border image */
	background-image: url('../public/media/edge.svg');
	background-position: bottom;
	padding-bottom: 1em;
}

#header {
	display: grid;
	gap: 2em;
	background-color: var(--dk-purple);
	padding: 2em;
}

#main-nav {
	display: grid;
}

#main-nav a {
	font-size: 2em;
	color: var(--white);
	padding: .5em 1em;
}

#header .donate {
	place-self: start;
	padding: .5em 1em;
}



/*
__________________
Logo
‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾
*/

.logo {
	translate: -3px;
}

.logo-large {
	max-width: 400px;
}

.logo-medium {
	max-width: 200px;
}

.logo-small {
	max-width: 100px;
}

/*
__________________
Footer
‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾
*/

#footer {
	color: white;
	background-color: var(--dk-purple);
	padding: 1em;
}

#footer a {
	font-size: 2em;
}

#social-media-links {
	display: flex;
	justify-content: start;
	gap: 2em;
}

#social-media-links a {
	display: grid;
	place-content: center;
	padding: 1em;
	border-radius: 50%;
	transition: all .1s ease-in-out;
}

#social-media-links a:hover, #social-media-links a:focus {
	background-color: var(--social-media-hover);
}

#social-media-links a img {
	width: var(--social-media-icon-size);
	aspect-ratio: 1 / 1;
	transition: all .2s ease-in-out;
}

#social-media-links a:hover img, #social-media-links a:focus img {
	transform: scale(1.1);
}

/*
__________________
Mission
‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾
*/

/* #mission.quote {

}

#mission.feature {

} */


/*
__________________
YouTubePlayer
‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾
*/

.youtube-iframe-wrapper {
	max-width: 100vw;
}

.youtube-iframe-wrapper iframe {
	width: 100%;
	aspect-ratio: 16 / 9;
}


/*
__________________
Staff
‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾
*/

.staff-article:hover, .staff-article:focus {
	box-shadow: 10px 10px 10px var(--black);
	cursor: pointer;
}

.staff-article .staff-bio, .staff-article .staff-social-links {
	display: none;
}

.staff-modal .staff-article .staff-bio, .staff-modal .staff-article .staff-social-links {
	display: block;
}

.staff-modal {
	display: grid;
	place-content: center;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,.5);
	border: none;
	padding: 1.5em;
}

.staff-modal .content {
	position: relative;
	width: (300px, 600px);
	min-height: 300px;
	padding: 1em;
	display: grid;
	background-color: var(--white);
	overflow: auto;
}

.staff-modal .close-button {
	position: absolute;
	width: 3em;
	height: 3em;
	top: 1em;
	right: 1em;
	font-size: 2em;
	color: var(--black);
	background: none;
	border: none;
	cursor: pointer;
}

.staff-modal .close-button:hover, .staff-modal .close-button:focus {
	color: var(--burgundy);
	scale: 1.2;
}


/*
__________________
Contact Forms
‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾
*/

#email-us {
	display: grid;
}


/*
__________________
Media queries
‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾
*/

@media screen and (min-width: 500px) {
	body {
		font-size: 10px;
	}
}

@media screen and (min-width: 768px) {
	body {
		font-size: 12px;
	}
}
  
@media screen and (min-width: 1040px) {
	body {
		font-size: 14px;
	}
}

@media screen and (min-width: 1440px) {

}